<html>
    <head>
        <link rel="stylesheet" href="../style/style.css">
        <script href="../../ServerFile/app.js"></script>
    </head>
    <body>
        <h1 style="text-align: center;">How to reach {{title}}</h1>
        <table>
        <tr>
            <th>Mode of Transport</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>By Air</td>
            <td>{{air}}</td>
        </tr>
        <tr>
            <td>By Train</td>
            <td>{{train}}</td>
        </tr>
        <tr>
            <td>By Road</td>
            <td>{{road}}</td>
        </tr>
        <tr>
            <td>By Boat</td>
            <td>{{boat}}</td>
        </tr>
    </table>
    </body>
</html>